
Conversor-OracleONE/.idea/gradle.xml
Conversor-OracleONE/.idea/misc.xml
Conversor-OracleONE/.idea/vcs.xml
Conversor-OracleONE/gradle/wrapper/gradle-wrapper.jar
Conversor-OracleONE/gradle/wrapper/gradle-wrapper.properties
Conversor-OracleONE/gradlew.bat
Conversor-OracleONE/gradlew
Conversor-OracleONE/gradle/wrapper/gradle-wrapper.jar
Conversor-OracleONE/gradle/wrapper/gradle-wrapper.jar
